body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #ff5f6d, #ffc371);
  font-family: "Quicksand", sans-serif;
}

body {
  display: flex;
  align-items: center;
}

button {
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.287);
}

.clock {
  width: 320px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: black;
  padding: 50px 20px;
  border-radius: 7px;
  background: linear-gradient(to right, #ece9e6, #ffffff);
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.8), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}
.clock .progress-radial {
  display: inline-block;
  position: relative;
  font-size: 2.2em;
  width: 6em;
  padding-bottom: 6em;
  border-radius: 50%;
  background: linear-gradient(135deg, #ff5f6d, #ffc371);
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.295), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}
.clock .progress-radial .overlay {
  position: absolute;
  top: 3%;
  bottom: 3%;
  left: 3%;
  right: 3%;
  padding-top: 34%;
  border-radius: 50%;
  background: linear-gradient(to right, #dddbd7, #e0e0e0);
  color: black;
}
.clock .settings {
  border-top: 1.5px solid #ff5f6d;
  border-bottom: 1.5px solid #ff5f6d;
}
.clock .settings .time-session, .clock .settings .time-break {
  display: inline-block;
  padding: 20px;
}
.clock .settings .time-session h4, .clock .settings .time-break h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.clock .settings .time-session button, .clock .settings .time-break button {
  color: black;
  font-size: 20px;
  background-color: transparent;
  border: none;
  border-radius: 2px;
  width: 38px;
  height: 30px;
  outline: none;
  transition: all 0.5s;
}
.clock .settings .time-session button:hover, .clock .settings .time-break button:hover {
  background-color: #ffc371;
  color: #242424;
}
.clock .controls {
  padding-top: 40px;
  padding-bottom: 10px;
}
.clock .controls button {
  color: #2e2e2e;
  font-size: 15px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  margin: 0 10px;
  width: 100px;
  height: 40px;
  outline: none;
  transition: all 0.5s;
}
.clock .controls button:hover {
  background-color: #ff5f6d;
}

.step-0.session {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(90deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-0.break {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(90deg, #ffc371 50%, #202020 50%, #202020);
}

.step-1.session {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(93.6deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-1.break {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(93.6deg, #ffc371 50%, #202020 50%, #202020);
}

.step-2.session {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(97.2deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-2.break {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(97.2deg, #ffc371 50%, #202020 50%, #202020);
}

.step-3.session {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(100.8deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-3.break {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(100.8deg, #ffc371 50%, #202020 50%, #202020);
}

.step-4.session {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(104.4deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-4.break {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(104.4deg, #ffc371 50%, #202020 50%, #202020);
}

.step-5.session {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(108deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-5.break {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(108deg, #ffc371 50%, #202020 50%, #202020);
}

.step-6.session {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(111.6deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-6.break {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(111.6deg, #ffc371 50%, #202020 50%, #202020);
}

.step-7.session {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(115.2deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-7.break {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(115.2deg, #ffc371 50%, #202020 50%, #202020);
}

.step-8.session {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(118.8deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-8.break {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(118.8deg, #ffc371 50%, #202020 50%, #202020);
}

.step-9.session {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(122.4deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-9.break {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(122.4deg, #ffc371 50%, #202020 50%, #202020);
}

.step-10.session {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(126deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-10.break {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(126deg, #ffc371 50%, #202020 50%, #202020);
}

.step-11.session {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(129.6deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-11.break {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(129.6deg, #ffc371 50%, #202020 50%, #202020);
}

.step-12.session {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(133.2deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-12.break {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(133.2deg, #ffc371 50%, #202020 50%, #202020);
}

.step-13.session {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(136.8deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-13.break {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(136.8deg, #ffc371 50%, #202020 50%, #202020);
}

.step-14.session {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(140.4deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-14.break {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(140.4deg, #ffc371 50%, #202020 50%, #202020);
}

.step-15.session {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(144deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-15.break {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(144deg, #ffc371 50%, #202020 50%, #202020);
}

.step-16.session {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(147.6deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-16.break {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(147.6deg, #ffc371 50%, #202020 50%, #202020);
}

.step-17.session {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(151.2deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-17.break {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(151.2deg, #ffc371 50%, #202020 50%, #202020);
}

.step-18.session {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(154.8deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-18.break {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(154.8deg, #ffc371 50%, #202020 50%, #202020);
}

.step-19.session {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(158.4deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-19.break {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(158.4deg, #ffc371 50%, #202020 50%, #202020);
}

.step-20.session {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(162deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-20.break {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(162deg, #ffc371 50%, #202020 50%, #202020);
}

.step-21.session {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(165.6deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-21.break {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(165.6deg, #ffc371 50%, #202020 50%, #202020);
}

.step-22.session {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(169.2deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-22.break {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(169.2deg, #ffc371 50%, #202020 50%, #202020);
}

.step-23.session {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(172.8deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-23.break {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(172.8deg, #ffc371 50%, #202020 50%, #202020);
}

.step-24.session {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(176.4deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-24.break {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(176.4deg, #ffc371 50%, #202020 50%, #202020);
}

.step-25.session {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(180deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-25.break {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(180deg, #ffc371 50%, #202020 50%, #202020);
}

.step-26.session {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(183.6deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-26.break {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(183.6deg, #ffc371 50%, #202020 50%, #202020);
}

.step-27.session {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(187.2deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-27.break {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(187.2deg, #ffc371 50%, #202020 50%, #202020);
}

.step-28.session {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(190.8deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-28.break {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(190.8deg, #ffc371 50%, #202020 50%, #202020);
}

.step-29.session {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(194.4deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-29.break {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(194.4deg, #ffc371 50%, #202020 50%, #202020);
}

.step-30.session {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(198deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-30.break {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(198deg, #ffc371 50%, #202020 50%, #202020);
}

.step-31.session {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(201.6deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-31.break {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(201.6deg, #ffc371 50%, #202020 50%, #202020);
}

.step-32.session {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(205.2deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-32.break {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(205.2deg, #ffc371 50%, #202020 50%, #202020);
}

.step-33.session {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(208.8deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-33.break {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(208.8deg, #ffc371 50%, #202020 50%, #202020);
}

.step-34.session {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(212.4deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-34.break {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(212.4deg, #ffc371 50%, #202020 50%, #202020);
}

.step-35.session {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(216deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-35.break {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(216deg, #ffc371 50%, #202020 50%, #202020);
}

.step-36.session {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(219.6deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-36.break {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(219.6deg, #ffc371 50%, #202020 50%, #202020);
}

.step-37.session {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(223.2deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-37.break {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(223.2deg, #ffc371 50%, #202020 50%, #202020);
}

.step-38.session {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(226.8deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-38.break {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(226.8deg, #ffc371 50%, #202020 50%, #202020);
}

.step-39.session {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(230.4deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-39.break {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(230.4deg, #ffc371 50%, #202020 50%, #202020);
}

.step-40.session {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(234deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-40.break {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(234deg, #ffc371 50%, #202020 50%, #202020);
}

.step-41.session {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(237.6deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-41.break {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(237.6deg, #ffc371 50%, #202020 50%, #202020);
}

.step-42.session {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(241.2deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-42.break {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(241.2deg, #ffc371 50%, #202020 50%, #202020);
}

.step-43.session {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(244.8deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-43.break {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(244.8deg, #ffc371 50%, #202020 50%, #202020);
}

.step-44.session {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(248.4deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-44.break {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(248.4deg, #ffc371 50%, #202020 50%, #202020);
}

.step-45.session {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(252deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-45.break {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(252deg, #ffc371 50%, #202020 50%, #202020);
}

.step-46.session {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(255.6deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-46.break {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(255.6deg, #ffc371 50%, #202020 50%, #202020);
}

.step-47.session {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(259.2deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-47.break {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(259.2deg, #ffc371 50%, #202020 50%, #202020);
}

.step-48.session {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(262.8deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-48.break {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(262.8deg, #ffc371 50%, #202020 50%, #202020);
}

.step-49.session {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(266.4deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-49.break {
  background-image: linear-gradient(90deg, #202020 50%, transparent 50%, transparent), linear-gradient(266.4deg, #ffc371 50%, #202020 50%, #202020);
}

.step-50.session {
  background-image: linear-gradient(-90deg, #ff5f6d 50%, transparent 50%, transparent), linear-gradient(270deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-50.break {
  background-image: linear-gradient(90deg, #ffc371 50%, transparent 50%, transparent), linear-gradient(-90deg, #ffc371 50%, #202020 50%, #202020);
}

.step-51.session {
  background-image: linear-gradient(-86.4deg, #ff5f6d 50%, transparent 50%, transparent), linear-gradient(270deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-51.break {
  background-image: linear-gradient(90deg, #ffc371 50%, transparent 50%, transparent), linear-gradient(-86.4deg, #ffc371 50%, #202020 50%, #202020);
}

.step-52.session {
  background-image: linear-gradient(-82.8deg, #ff5f6d 50%, transparent 50%, transparent), linear-gradient(270deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-52.break {
  background-image: linear-gradient(90deg, #ffc371 50%, transparent 50%, transparent), linear-gradient(-82.8deg, #ffc371 50%, #202020 50%, #202020);
}

.step-53.session {
  background-image: linear-gradient(-79.2deg, #ff5f6d 50%, transparent 50%, transparent), linear-gradient(270deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-53.break {
  background-image: linear-gradient(90deg, #ffc371 50%, transparent 50%, transparent), linear-gradient(-79.2deg, #ffc371 50%, #202020 50%, #202020);
}

.step-54.session {
  background-image: linear-gradient(-75.6deg, #ff5f6d 50%, transparent 50%, transparent), linear-gradient(270deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-54.break {
  background-image: linear-gradient(90deg, #ffc371 50%, transparent 50%, transparent), linear-gradient(-75.6deg, #ffc371 50%, #202020 50%, #202020);
}

.step-55.session {
  background-image: linear-gradient(-72deg, #ff5f6d 50%, transparent 50%, transparent), linear-gradient(270deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-55.break {
  background-image: linear-gradient(90deg, #ffc371 50%, transparent 50%, transparent), linear-gradient(-72deg, #ffc371 50%, #202020 50%, #202020);
}

.step-56.session {
  background-image: linear-gradient(-68.4deg, #ff5f6d 50%, transparent 50%, transparent), linear-gradient(270deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-56.break {
  background-image: linear-gradient(90deg, #ffc371 50%, transparent 50%, transparent), linear-gradient(-68.4deg, #ffc371 50%, #202020 50%, #202020);
}

.step-57.session {
  background-image: linear-gradient(-64.8deg, #ff5f6d 50%, transparent 50%, transparent), linear-gradient(270deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-57.break {
  background-image: linear-gradient(90deg, #ffc371 50%, transparent 50%, transparent), linear-gradient(-64.8deg, #ffc371 50%, #202020 50%, #202020);
}

.step-58.session {
  background-image: linear-gradient(-61.2deg, #ff5f6d 50%, transparent 50%, transparent), linear-gradient(270deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-58.break {
  background-image: linear-gradient(90deg, #ffc371 50%, transparent 50%, transparent), linear-gradient(-61.2deg, #ffc371 50%, #202020 50%, #202020);
}

.step-59.session {
  background-image: linear-gradient(-57.6deg, #ff5f6d 50%, transparent 50%, transparent), linear-gradient(270deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-59.break {
  background-image: linear-gradient(90deg, #ffc371 50%, transparent 50%, transparent), linear-gradient(-57.6deg, #ffc371 50%, #202020 50%, #202020);
}

.step-60.session {
  background-image: linear-gradient(-54deg, #ff5f6d 50%, transparent 50%, transparent), linear-gradient(270deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-60.break {
  background-image: linear-gradient(90deg, #ffc371 50%, transparent 50%, transparent), linear-gradient(-54deg, #ffc371 50%, #202020 50%, #202020);
}

.step-61.session {
  background-image: linear-gradient(-50.4deg, #ff5f6d 50%, transparent 50%, transparent), linear-gradient(270deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-61.break {
  background-image: linear-gradient(90deg, #ffc371 50%, transparent 50%, transparent), linear-gradient(-50.4deg, #ffc371 50%, #202020 50%, #202020);
}

.step-62.session {
  background-image: linear-gradient(-46.8deg, #ff5f6d 50%, transparent 50%, transparent), linear-gradient(270deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-62.break {
  background-image: linear-gradient(90deg, #ffc371 50%, transparent 50%, transparent), linear-gradient(-46.8deg, #ffc371 50%, #202020 50%, #202020);
}

.step-63.session {
  background-image: linear-gradient(-43.2deg, #ff5f6d 50%, transparent 50%, transparent), linear-gradient(270deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-63.break {
  background-image: linear-gradient(90deg, #ffc371 50%, transparent 50%, transparent), linear-gradient(-43.2deg, #ffc371 50%, #202020 50%, #202020);
}

.step-64.session {
  background-image: linear-gradient(-39.6deg, #ff5f6d 50%, transparent 50%, transparent), linear-gradient(270deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-64.break {
  background-image: linear-gradient(90deg, #ffc371 50%, transparent 50%, transparent), linear-gradient(-39.6deg, #ffc371 50%, #202020 50%, #202020);
}

.step-65.session {
  background-image: linear-gradient(-36deg, #ff5f6d 50%, transparent 50%, transparent), linear-gradient(270deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-65.break {
  background-image: linear-gradient(90deg, #ffc371 50%, transparent 50%, transparent), linear-gradient(-36deg, #ffc371 50%, #202020 50%, #202020);
}

.step-66.session {
  background-image: linear-gradient(-32.4deg, #ff5f6d 50%, transparent 50%, transparent), linear-gradient(270deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-66.break {
  background-image: linear-gradient(90deg, #ffc371 50%, transparent 50%, transparent), linear-gradient(-32.4deg, #ffc371 50%, #202020 50%, #202020);
}

.step-67.session {
  background-image: linear-gradient(-28.8deg, #ff5f6d 50%, transparent 50%, transparent), linear-gradient(270deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-67.break {
  background-image: linear-gradient(90deg, #ffc371 50%, transparent 50%, transparent), linear-gradient(-28.8deg, #ffc371 50%, #202020 50%, #202020);
}

.step-68.session {
  background-image: linear-gradient(-25.2deg, #ff5f6d 50%, transparent 50%, transparent), linear-gradient(270deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-68.break {
  background-image: linear-gradient(90deg, #ffc371 50%, transparent 50%, transparent), linear-gradient(-25.2deg, #ffc371 50%, #202020 50%, #202020);
}

.step-69.session {
  background-image: linear-gradient(-21.6deg, #ff5f6d 50%, transparent 50%, transparent), linear-gradient(270deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-69.break {
  background-image: linear-gradient(90deg, #ffc371 50%, transparent 50%, transparent), linear-gradient(-21.6deg, #ffc371 50%, #202020 50%, #202020);
}

.step-70.session {
  background-image: linear-gradient(-18deg, #ff5f6d 50%, transparent 50%, transparent), linear-gradient(270deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-70.break {
  background-image: linear-gradient(90deg, #ffc371 50%, transparent 50%, transparent), linear-gradient(-18deg, #ffc371 50%, #202020 50%, #202020);
}

.step-71.session {
  background-image: linear-gradient(-14.4deg, #ff5f6d 50%, transparent 50%, transparent), linear-gradient(270deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-71.break {
  background-image: linear-gradient(90deg, #ffc371 50%, transparent 50%, transparent), linear-gradient(-14.4deg, #ffc371 50%, #202020 50%, #202020);
}

.step-72.session {
  background-image: linear-gradient(-10.8deg, #ff5f6d 50%, transparent 50%, transparent), linear-gradient(270deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-72.break {
  background-image: linear-gradient(90deg, #ffc371 50%, transparent 50%, transparent), linear-gradient(-10.8deg, #ffc371 50%, #202020 50%, #202020);
}

.step-73.session {
  background-image: linear-gradient(-7.2deg, #ff5f6d 50%, transparent 50%, transparent), linear-gradient(270deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-73.break {
  background-image: linear-gradient(90deg, #ffc371 50%, transparent 50%, transparent), linear-gradient(-7.2deg, #ffc371 50%, #202020 50%, #202020);
}

.step-74.session {
  background-image: linear-gradient(-3.6deg, #ff5f6d 50%, transparent 50%, transparent), linear-gradient(270deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-74.break {
  background-image: linear-gradient(90deg, #ffc371 50%, transparent 50%, transparent), linear-gradient(-3.6deg, #ffc371 50%, #202020 50%, #202020);
}

.step-75.session {
  background-image: linear-gradient(0deg, #ff5f6d 50%, transparent 50%, transparent), linear-gradient(270deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-75.break {
  background-image: linear-gradient(90deg, #ffc371 50%, transparent 50%, transparent), linear-gradient(0deg, #ffc371 50%, #202020 50%, #202020);
}

.step-76.session {
  background-image: linear-gradient(3.6deg, #ff5f6d 50%, transparent 50%, transparent), linear-gradient(270deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-76.break {
  background-image: linear-gradient(90deg, #ffc371 50%, transparent 50%, transparent), linear-gradient(3.6deg, #ffc371 50%, #202020 50%, #202020);
}

.step-77.session {
  background-image: linear-gradient(7.2deg, #ff5f6d 50%, transparent 50%, transparent), linear-gradient(270deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-77.break {
  background-image: linear-gradient(90deg, #ffc371 50%, transparent 50%, transparent), linear-gradient(7.2deg, #ffc371 50%, #202020 50%, #202020);
}

.step-78.session {
  background-image: linear-gradient(10.8deg, #ff5f6d 50%, transparent 50%, transparent), linear-gradient(270deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-78.break {
  background-image: linear-gradient(90deg, #ffc371 50%, transparent 50%, transparent), linear-gradient(10.8deg, #ffc371 50%, #202020 50%, #202020);
}

.step-79.session {
  background-image: linear-gradient(14.4deg, #ff5f6d 50%, transparent 50%, transparent), linear-gradient(270deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-79.break {
  background-image: linear-gradient(90deg, #ffc371 50%, transparent 50%, transparent), linear-gradient(14.4deg, #ffc371 50%, #202020 50%, #202020);
}

.step-80.session {
  background-image: linear-gradient(18deg, #ff5f6d 50%, transparent 50%, transparent), linear-gradient(270deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-80.break {
  background-image: linear-gradient(90deg, #ffc371 50%, transparent 50%, transparent), linear-gradient(18deg, #ffc371 50%, #202020 50%, #202020);
}

.step-81.session {
  background-image: linear-gradient(21.6deg, #ff5f6d 50%, transparent 50%, transparent), linear-gradient(270deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-81.break {
  background-image: linear-gradient(90deg, #ffc371 50%, transparent 50%, transparent), linear-gradient(21.6deg, #ffc371 50%, #202020 50%, #202020);
}

.step-82.session {
  background-image: linear-gradient(25.2deg, #ff5f6d 50%, transparent 50%, transparent), linear-gradient(270deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-82.break {
  background-image: linear-gradient(90deg, #ffc371 50%, transparent 50%, transparent), linear-gradient(25.2deg, #ffc371 50%, #202020 50%, #202020);
}

.step-83.session {
  background-image: linear-gradient(28.8deg, #ff5f6d 50%, transparent 50%, transparent), linear-gradient(270deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-83.break {
  background-image: linear-gradient(90deg, #ffc371 50%, transparent 50%, transparent), linear-gradient(28.8deg, #ffc371 50%, #202020 50%, #202020);
}

.step-84.session {
  background-image: linear-gradient(32.4deg, #ff5f6d 50%, transparent 50%, transparent), linear-gradient(270deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-84.break {
  background-image: linear-gradient(90deg, #ffc371 50%, transparent 50%, transparent), linear-gradient(32.4deg, #ffc371 50%, #202020 50%, #202020);
}

.step-85.session {
  background-image: linear-gradient(36deg, #ff5f6d 50%, transparent 50%, transparent), linear-gradient(270deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-85.break {
  background-image: linear-gradient(90deg, #ffc371 50%, transparent 50%, transparent), linear-gradient(36deg, #ffc371 50%, #202020 50%, #202020);
}

.step-86.session {
  background-image: linear-gradient(39.6deg, #ff5f6d 50%, transparent 50%, transparent), linear-gradient(270deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-86.break {
  background-image: linear-gradient(90deg, #ffc371 50%, transparent 50%, transparent), linear-gradient(39.6deg, #ffc371 50%, #202020 50%, #202020);
}

.step-87.session {
  background-image: linear-gradient(43.2deg, #ff5f6d 50%, transparent 50%, transparent), linear-gradient(270deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-87.break {
  background-image: linear-gradient(90deg, #ffc371 50%, transparent 50%, transparent), linear-gradient(43.2deg, #ffc371 50%, #202020 50%, #202020);
}

.step-88.session {
  background-image: linear-gradient(46.8deg, #ff5f6d 50%, transparent 50%, transparent), linear-gradient(270deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-88.break {
  background-image: linear-gradient(90deg, #ffc371 50%, transparent 50%, transparent), linear-gradient(46.8deg, #ffc371 50%, #202020 50%, #202020);
}

.step-89.session {
  background-image: linear-gradient(50.4deg, #ff5f6d 50%, transparent 50%, transparent), linear-gradient(270deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-89.break {
  background-image: linear-gradient(90deg, #ffc371 50%, transparent 50%, transparent), linear-gradient(50.4deg, #ffc371 50%, #202020 50%, #202020);
}

.step-90.session {
  background-image: linear-gradient(54deg, #ff5f6d 50%, transparent 50%, transparent), linear-gradient(270deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-90.break {
  background-image: linear-gradient(90deg, #ffc371 50%, transparent 50%, transparent), linear-gradient(54deg, #ffc371 50%, #202020 50%, #202020);
}

.step-91.session {
  background-image: linear-gradient(57.6deg, #ff5f6d 50%, transparent 50%, transparent), linear-gradient(270deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-91.break {
  background-image: linear-gradient(90deg, #ffc371 50%, transparent 50%, transparent), linear-gradient(57.6deg, #ffc371 50%, #202020 50%, #202020);
}

.step-92.session {
  background-image: linear-gradient(61.2deg, #ff5f6d 50%, transparent 50%, transparent), linear-gradient(270deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-92.break {
  background-image: linear-gradient(90deg, #ffc371 50%, transparent 50%, transparent), linear-gradient(61.2deg, #ffc371 50%, #202020 50%, #202020);
}

.step-93.session {
  background-image: linear-gradient(64.8deg, #ff5f6d 50%, transparent 50%, transparent), linear-gradient(270deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-93.break {
  background-image: linear-gradient(90deg, #ffc371 50%, transparent 50%, transparent), linear-gradient(64.8deg, #ffc371 50%, #202020 50%, #202020);
}

.step-94.session {
  background-image: linear-gradient(68.4deg, #ff5f6d 50%, transparent 50%, transparent), linear-gradient(270deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-94.break {
  background-image: linear-gradient(90deg, #ffc371 50%, transparent 50%, transparent), linear-gradient(68.4deg, #ffc371 50%, #202020 50%, #202020);
}

.step-95.session {
  background-image: linear-gradient(72deg, #ff5f6d 50%, transparent 50%, transparent), linear-gradient(270deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-95.break {
  background-image: linear-gradient(90deg, #ffc371 50%, transparent 50%, transparent), linear-gradient(72deg, #ffc371 50%, #202020 50%, #202020);
}

.step-96.session {
  background-image: linear-gradient(75.6deg, #ff5f6d 50%, transparent 50%, transparent), linear-gradient(270deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-96.break {
  background-image: linear-gradient(90deg, #ffc371 50%, transparent 50%, transparent), linear-gradient(75.6deg, #ffc371 50%, #202020 50%, #202020);
}

.step-97.session {
  background-image: linear-gradient(79.2deg, #ff5f6d 50%, transparent 50%, transparent), linear-gradient(270deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-97.break {
  background-image: linear-gradient(90deg, #ffc371 50%, transparent 50%, transparent), linear-gradient(79.2deg, #ffc371 50%, #202020 50%, #202020);
}

.step-98.session {
  background-image: linear-gradient(82.8deg, #ff5f6d 50%, transparent 50%, transparent), linear-gradient(270deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-98.break {
  background-image: linear-gradient(90deg, #ffc371 50%, transparent 50%, transparent), linear-gradient(82.8deg, #ffc371 50%, #202020 50%, #202020);
}

.step-99.session {
  background-image: linear-gradient(86.4deg, #ff5f6d 50%, transparent 50%, transparent), linear-gradient(270deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-99.break {
  background-image: linear-gradient(90deg, #ffc371 50%, transparent 50%, transparent), linear-gradient(86.4deg, #ffc371 50%, #202020 50%, #202020);
}

.step-100.session {
  background-image: linear-gradient(90deg, #ff5f6d 50%, transparent 50%, transparent), linear-gradient(270deg, #ff5f6d 50%, #202020 50%, #202020);
}
.step-100.break {
  background-image: linear-gradient(90deg, #ffc371 50%, transparent 50%, transparent), linear-gradient(90deg, #ffc371 50%, #202020 50%, #202020);
}

/*# sourceMappingURL=main.css.map */
